<h1><%= @mechanic.name %></h1>
<h3>Years of Experience: <%= @mechanic.years_experience %>

<section id="rides">
  <h3>Rides Responsible:</h3>
    <% @mechanic.rides.each do |ride| %>
      <%= ride.name %>
    <% end %>
</section>  

<section id="add-a-ride">
  <h3>Add Ride to Responsibilities:</h3>
    <%= form_with url: "/ride_mechanics/new", method: :post, local: true do |form| %>
      <%= form.text_field(:ride_id) %>
      <%= form.hidden_field(:mechanic_id, value: @mechanic.id) %>
      <%= form.submit 'Add Ride' %>
    <% end %>
</section>  
