<h1> Mechanic Show Page </h1>

<section id="mechanic-info">
  <p>Name: <%= @mechanic.name %></p>
  <p>Years Experience: <%= @mechanic.years_experience %></p>
</section>


<section id="ride-info">
  <h3> Rides Worked On </h3>
  <p><% @mechanic.rides.each do |ride| %></p>
  <p><%= ride.name %></p>
  <% end %>
</section>

<section id="add-ride-<%= @mechanic.id %>">
  <h4> Add A Ride </h4>
    <%= form_with url: "/ride_mechanics", method: :post, local: true do |form| %>
      <%= form.label :ride_id, "Ride ID" %>
      <%= form.text_field :ride_id %>
      <%= form.hidden_field :mechanic_id, value: @mechanic.id %>
      <%= form.submit 'Submit' %>
    <% end %>
  </section>


