<h1>Show Mechanic Details</h1>
  <p>Mechanic Name: <%= @mechanic.name %></p>
  <p>Mechanic Years of Experience: <%= @mechanic.years_experience %></p>
  
  <h3>Rides this Mechanic is Working on:</h3> 
  <% @rides.each do |ride| %>
    <%= ride.name %><br>
  <% end %>

  <%= form_with url: "/mechanics/#{@mechanic.id}", method: :post, local: true do |form| %>
  <%= form.label :add_ride %>
  <%= form.text_field :add_ride %>
  
  <%= form.submit "Submit" %>
<% end %>
