<h1> <%= @mechanic.name %> </h1>
<p> Years of Experience: <%= @mechanic.years_experience %> </p> <br>
<p> Rides they are working on: </p> <br>
<div id="mechanic-<%= @mechanic.id %>">
  <% @mechanic_rides.each do |ride| %>
    <%= ride.name %> <br>
  <% end %>
</div>
<p> Add a ride to workload: </p>
<%= form_with url: "/mechanics/#{@mechanic.id}", method: :update, local: true do |form| %>
  <%= form.label :ride_id, "Ride ID" %>
  <%= form.text_field :ride_id %>
  <%= form.submit "Submit" %>
<% end %>