<section id="mechanic-info">
  <h1>Mechanic: <%= @mechanic.name %></h1>
  <p>Years of Experience: <%= @mechanic.years_experience %></p>
</section>
<br/>

<section id="current-rides">
<h3>Current rides they're working on:</h3>
<ul>
  <% @mechanic.rides.each do |ride| %>
    <li><%= ride.name %></li>
  <% end %>
</ul>
</section>
<br/>

<section id="add-ride">
<h3>Add a ride to workload:</h3>
<%= form_with(url: "#{@mechanic.id}") do |form| %>
  <%= form.label :ride_id, "Ride Id:" %>
  <%= form.number_field :ride_id %><br/>
  <%= form.submit "Submit" %>
<% end %>
</section>
