<h1><center><%= @mechanic.name %>'s Rides Repair</h1>

<h2>Years of Experience: <%= @mechanic.years_experience %></h2>

<h2>Rides Assigned: </h2>
<% @mechanic.rides.each do |ride| %>
  <ul><%= ride.name %></ul>
<% end %>

<br><br><h2>Add a Ride to Workload</h2>
<%= form_with url: ride_mechanics_path, method: :post, local: true do |f| %>
  <%= f.label :ride_id, "Select Ride ID" %>
  <%= f.number_field :ride_id %>
  <%= f.hidden_field :mechanic_id, value: @mechanic.id %>

  <%= f.submit "Add Ride" %>
<% end %>