<h1><%= @mechanic.name %></h1>
<p><%= @mechanic.years_experience %></p>
<% @mechanic.rides.each do |ride| %>
<p><%= ride.name %></p>
<% end %>

<p>Add Ride To Workload</p>
<%= form_with url: "/mechanics/#{@mechanic.id}", method: :post, local: true do |form| %>
<%= form.label :ride_id %>
<%= form.text_field :ride_id %>
<%= form.submit "Submit" %>
<% end %>
