<h1> <%= @mechanic.name %> show page </h1>
<h2>  Years of Experience: <%= @mechanic.years_experience %> </h2>
<h3> Current Rides Working On: </h3>
<br>
<p> 
<% @mechanic.rides.each do |ride| %> 
  <%= ride.name %> <br>
<% end %>
</p>
<br>
<br>
<h3> Add ride to <%= @mechanic.name %> schedule </h3>
<%= form_with url: mechanic_rides_path, method: :post, local: :true do |f| %>
  <%= f.hidden_field :mechanic_id, value: @mechanic.id %>
  <%= f.label :ride_id %>
  <%= f.number_field :ride_id %>
  <%= f.submit "Submit" %>

<% end %>
