<h2><%= @mechanic.name %></h2>
<p><%= "Experience: #{@mechanic.years_experience}"%></p>
<h4>Rides:</h4>
<ul>
  <% @mechanic.rides.each do |ride| %>
    <li><%= ride.name %></li>
  <% end %>
</ul>

<h4>Add a ride to workload:</h4>
<%= form_with model: @ride, local: true do |f| %>
  <%= f.label :ride_id, "Ride ID" %>
  <%= f.number_field :ride_id %>
  <%= f.submit "Submit" %>
<% end %>