<h2> Name: <%= @mechanic.name %></h2>
<p> Years of Experience: <%= @mechanic.years_experience %></p>
<h3> Rides Working On: </h3>
<% @mechanic.rides.each do |ride| %>
  <ul>
    <li> <%= ride.name %></li>
  </ul>
<% end %>

<p><b> Add a ride to workload: </b></p>
<%= form_with url: "mechanics/#{@mechanic.id}", method: :patch, local: true do |form| %>
  <%= form.label "Ride ID" %>
  <%= form.text_field :ride_id %>
  <%= form.submit %>
<% end %>