<div class="mechanic_header"> 
  <h1>Mechanic: <%= @mechanic.name %></h1>
  <h2>Years of Experience: <%= @mechanic.years_experience %></h2>
  <h2>Current rides they're working on:</h2>
  <% @mechanic.rides.each do |ride| %>
    <p><%= ride.name %></p>
  <% end %>  
</div>

<div class="add_ride_form">
<h2> Add a ride to workload: </h2>
<%= form_with url: "/mechanics/#{@mechanic.id}/rides", method: :post, local: true do |form| %>
  <%= form.label :ride_id, "Ride Id" %>
  <%= form.text_field :ride_id %>

  <%= form.submit "Submit" %>
<% end %>
</div>


