<h1>Mechanic<h2>

<p>Mechanic name:<%= @mechanic.name %></p>
<p>Years on job:<%= @mechanic.years_experience %></p>
<h2>Rides Working on:</h2>
<% @mechanic_rides.each do |ride| %>
  <%= ride.name %> |
<% end %>

<%= form_with model: @ride, url: mechanic_path(@mechanic), method: :patch do |form|  %>
  <p><%= form.label :name %>
  <%= form.text_field :name %></p>
  <p><%= form.label :thrill_rating %>
  <%= form.text_field :thrill_rating %></p>
  <p><%= form.label :open %>
  <%= form.check_box :open %></p>
  <p><%= form.submit "Submit"  %>
<% end %>