<h1>Mechanic Details</h1>

<h2>Name: <%= @mechanic.name %></h2>
<p>Years of Experience: <%= @mechanic.years_experience %></p>

<h3>Rides they are working on:</h3>
<ul>
  <% @mechanic.rides.each do |ride| %>
    <li><%= ride.name %></li>
  <% end %>
</ul>

<h3>Add a Ride to Workload:</h3>
<%= form_with model: @mechanic, url: mechanic_rides_path(@mechanic), method: :post, local: true do |form| %>
  <p><%= form.label :ride_id, "Ride ID:" %></p>
  <p><%= form.number_field :ride_id %></p>
  <p><%= form.submit "Add Ride" %></p>
<% end %>

