<h1> Mechanic: <%= @mechanic.name %></h1>
<p>Years of Expericnce: <%= @mechanic.years_experience %>

<div id="rides">
  <h3>Rides Being Maintained</h3>
  <% @rides.each do |ride| %>
    <p><%= ride.name %></p>
  <% end %>
</div>

<div id="ride-form">
<h4> Add Ride for Mechanic </h4>
<%= form_with url: "/mechanics/#{@mechanic.id}/ride_mechanics", local: true, method: :post do |f| %>
  <%= f.label :ride_id %>
  <%= f.text_field :ride_id %>
  <%= f.submit "Submit" %>
<% end %>
</div>