<h1><%= @park.name %></h1>
<h3>Price of Admissions: <%= @park.admission_cost %>

<section id="mechanics">
  <h3>Mechanics:</h3>
    <% @park.mechanics.each do |mechanic| %>
      <%= mechanic.name %>
    <% end %>
</section>  

<section id="rides">
  <h3>Rides:</h3>
    <% @park.rides.each do |ride| %>
      <div id="ride-<%= ride.id %>">
        <h4><%= ride.name %><h4>
        <p>Mechanic Average Years Experience: <%= ride.mechanic_avg_experience %></p>
      </div>  
    <% end %>
</section>  