<h1>Show Amusement Park Details</h1>
  <p>Park Name: <%= @ap.name %></p>
  <p>Park Admission: $<%= @ap.admission_cost %></p>
  
  <h3>Mechanics for this Park's Rides:</h3> 
  <% @mechanics.each do |mechanic| %>
    <%= mechanic.name %><br>
  <% end %>

  <h3>Rides:</h3> 
  <% @rides.each do |ride| %>
    <%= ride.name %> <%= ride.average_experience %><br> 
  <% end %>
  