<h1>Name: <%= @park.name %></h1>
<h3>Price of Admission: <%= @park.admission_cost %></h3>
<p><b>Rides: </b></p>
<% @park.mechanic_average_exp.each do |ride| %>
  <div id="ride-<%= ride.id %>">
  <p>Name: <%= ride.name %>, Mechanic Average Experience: <%= ride.avg_exp %></p>
  </div>
<% end %>

<p><b>Mechanics working on rides:</b></p>
<section id="mechanics-working">
<% @park.mechanics_working.each do |mechanic| %>
  <ul> 
    <li><%= mechanic %></li>
  </ul>
<% end %>
</section>
